.modal-open .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity */
}

/*********** home page modal css  ******************/
/* Full-screen overlay to darken the background */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  overflow: hidden;
}

/* Modal container with smooth transition from top to center */
.custom-modal {
  position: relative;
  background-color: #ffffff;
  width: 650px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%); /* Initial position */
  animation: slideDown 0.6s ease forwards; /* Slide down animation */
}

/* Keyframes for slide down transition */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(22%);
  }
}

/* Modal header */
.custom-modal-header {
  display: flex;
  justify-content: flex-end;
  background-color: #0088cc;
}
.edit-modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #0088cc;
  color: white;
}
.edit-modal-header h3 {
  font-size: 21px;
  margin-top: 10px;
  margin-left: 10px;
}

/* Close button */
.close-icon {
  font-size: 2rem;
  color: white;
  margin-right: 10px;
}

/* Modal body with the image */
.custom-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-modal-body {
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modal-image {
  width: 100%;
  height: auto;
}
