* {
  margin: 0;
  padding: 0;
}
.black_header {
  background-color: #2c3e50;
  color: white;
  padding: 1px 10px;
  height: 25px;
  margin-top: 7px;
}
.game_details_main {
  display: flex;
  gap: 10px;
}
.game_details_header {
  display: flex;
  justify-content: space-between;
  /* padding: 1px 10px; */
}
.game_details_main_left {
  width: 70%;
}
.game_details_main_right {
  width: 30%;
  position: sticky;
  top: 0;
  height: 100%;
}
.pitch_background {
  background-image: url("./images/cricketpitch.png");
  background-position: center;
  background-size: contain;
  color: white;
}
.circle_blue_ball {
  height: 30px;
  width: 30px;
  background-color: #08c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pitch_top,
.pitch_bottom {
  display: flex;
  justify-content: space-between;
  padding: 1px 10px;
}
.over_ball,
.two_run_over {
  display: flex;
  gap: 10px;
}
.two_run_over {
  margin-left: 190px;
}
.normal_body_single {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.bookmaker_body_left {
  display: flex;
  width: 55%;
}
.bookmaker_body_right {
  display: flex;
  width: 45%;
}
.body_right {
  width: 17%;
}
.lighterblue {
  background-color: rgb(137 197 211);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightblue {
  background-color: rgb(107 175 191);
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkblue {
  background-color: #72bbef;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.lighterpink {
  background-color: #ebdbe0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.lightpink {
  background-color: #d9b3bf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.darkpink {
  background-color: #d99fb2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.normal_main_body {
  display: flex;
  gap: 25px;
}
.normal_main_left {
  width: 50%;
}
.normal_main_right {
  width: 50%;
}
.normal_body_single,
.bookmaker_body_single {
  width: 100%;
  display: flex;
  border-bottom: 1px solid gray;
}
.normal_body_left {
  width: 55%;
}
.normal_body_right {
  width: 45%;
  display: flex;
}
.body_right {
  /* width: 33%; */
  width: 100%;
}
.min_max_bet {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #72bbef;
}
.live_match,
.place_bet,
.mybet {
  cursor: pointer;
  margin-bottom: 3px;
}
.place_bet_head {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.place_header {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.mybet_bluediv {
  background-color: #72bbef;
}
.mybet_pinkdiv {
  background-color: #faa9ba;
}
.mybet_bluediv_up {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.place_button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 12px;
}
.place_button button {
  width: 70px;
}
.mybet_bluediv_buttom {
  display: flex;
  justify-content: space-around;
  padding: 6px;
  margin-bottom: 5px;
}
.placebet_input {
  width: 66px;
  border: none;
  outline: none;
  height: 29px;
}
.placebet_input_main {
  display: flex;
  gap: 6px;
  height: 36px;
}
.left_with_arrow {
  height: 30px;
  background-color: white;
}
.up_arow {
  width: 12px;
  height: 14px;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: #cccccc;
}
.over_body_single {
  display: flex;
  width: 100%;
  border-bottom: 1px solid gray;
}
.over_body_left {
  width: 78%;
}
.over_body_right {
  width: 22%;
  display: flex;
}
.four_body_single {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.four_body_right {
  width: 10%;
}
.four_body_left {
  width: 90%;
}
.btn-group-vertical {
  vertical-align: bottom;
}
.bet_for_game_name {
  width: 20px;
  font-size: 15px;
  font-weight: 700;
}
.main_edit_modal {
  width: 100%;
}
